# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Venv
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# БД
database/*.db
database/*.sqlite
database/*.sqlite3

# Env-variables
.env

# Логи
*.log

# Прочее
roadmap.md